<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arthur.auth.mapper.UserMapper">

	<sql id="user_columns">
		id, user_name, pass_word, enable
	</sql>

	<resultMap type="User" id="user_result">
		<id column="ID" property="id" />
		<result column="USER_NAME" property="username" />
		<result column="PASS_WORD" property="password" />
		<result column="ENABLE" property="enable" />
	</resultMap>

	<insert id="insert" parameterType="User">
		INSERT INTO USER(USER_NAME, PASS_WORD, ENABLE)
		VALUES(#{username},
		#{password}, #{enable})
		<selectKey keyProperty="id" resultType="long" order="AFTER">
			SELECT
			LAST_INSERT_ID() AS id
		</selectKey>
	</insert>

	<select id="getUserByUsername" parameterType="string" resultMap="user_result">
		SELECT
		<include refid="user_columns" />
		FROM MOCK_USER
		WHERE USER_NAME = #{username}
	</select>

</mapper>